// Dark mode
$primary-bg-dark: rgb(58, 64, 77);
$secondary-bg-dark: rgb(38, 44, 53);
$font-color-dark: white;

// Light mode
$primary-bg-light: white;
$secondary-bg-light: rgb(156, 172, 204);
$font-color-light: black;